.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(../images/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 400px;

  background-image: url("../images/cactus.png");
  background-size: 20px 40px;

  animation: block 0.8s infinite linear;
}

@keyframes block {
  0% {
    /* left: 580px; */
    left: 400px;
  }

  100% {
    left: 0px;
  }
}
#restartBtn {
  background-color:gray;
  border-color: gray;
}

#restartBtn.login{
  position: static;
  padding: 15px;
  margin-left: 44%;
}
#restartBtn.nonlogin{
  position: static;
  margin-left: 44.5%;
  padding: 15px;
}

#over.login {
  position: static;
  z-index: 10;
  display: none;
  margin-top: 3%;
  left: 0;
  margin-left: 43%;
  top: 0;
}

#over.nonlogin {
  position: static;
  z-index: 10;
  display: none;
  left: 0;
  top: 0;
  margin-left: 44%;
}